{% extends 'base.html' %}

{% block title %}Результат конвертации{% endblock %}

{% block content_center %}
  <p><button onclick="window.location.href = '{% url 'change_format'  %}';"> Смена формата </button></p>
  <p><button onclick="window.location.href = '{% url 'resize'  %}';"> Изменить размер </button></p>
  <p><button onclick="window.location.href = '{% url 'rotate'  %}';"> Поворот </button></p>
  <p><button onclick="window.location.href = '{% url 'crop'  %}';"> Вырезать фрагмент </button></p>
  <p><button onclick="window.location.href = '{% url 'mirror'  %}';"> Отзеркалить </button></p>
{% endblock %}
